body 
{
    background-image: linear-gradient(rgba(238, 237, 241, 0.516), rgba(32, 32, 224, 0.333));
    background-attachment: fixed;
}
nav{
    background-color: rgb(25, 51, 179);
    color: rgb(255, 255, 255);
    
    
}

.navbar .active
{
    color: rgb(255, 255, 255);
    background-color: rgb(81, 10, 223);
}

.dropdown-menu.dropdown-item:hover
{
    color: rgb(11, 21, 30);
    background-color: aqua;
}
.dropdown-menu
{
    background-color: aqua;
}

ul li a:hover
{
    color: rgb(255, 255, 255);
    background-color: rgba(32, 162, 242, 0.213);
}
.navbar .active
{
    color: rgb(16, 74, 219);
}

.nav-item li a
{
    color: rgb(251, 251, 251);
}

ul li a
{
    background-color: rgb(68, 0, 255);
    color: rgb(22, 22, 23);
}

.navbar:hover{
    color: rgb(86, 170, 249);
}

.college
{
    font-size: 30px;
}

@media screen and (max-width: 992px) {
    body
{
    font-size: 15px;
}
  
}

@media screen and (max-width: 992px)  {
    .t-head
    {
        font-size: xx-large;
    }
}


.fa-facebook:hover
{
    color: rgb(16, 74, 219);
}

.fa-instagram:hover
{
    color: rgb(220, 14, 127);

}
.fa-youtube:hover
{
    color: rgb(234, 18, 18);
}
.fa-linkedin:hover
{
    color: rgb(19, 81, 237);
}
.fa-envelope:hover
{
    color: rgb(19, 179, 237);
}


.navbar-toggler-icon {

    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
